@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Shojumaru&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Sawarabi Gothic', 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}
